<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
        <title>JSP Page</title>
    </head>
    <body>
        <main>
            <navmenu> </navmenu>
            <h1>Customer sign in</h1>

            <fieldset>

                <legend>Customer Details</legend>

                <form @submit.prevent="signInCustomer()">
                <!--<form action="sign-in" method="get">-->

                    <label>Username:</label><input type="text" v-model="customer.username"/>
                    <label>Password</label><input type="text" v-model="customer.password"/>


                    <button type="submit">sign in</button>

                </form>

            </fieldset>

            <div class="center-button">
                <a class="nav" href="index.html"><button>Back to Menu</button></a>
            </div>

        </main>
        <script type="module" src="js/sign-in.js"></script>
    </body>
</html>